@import url('https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&family=Doto:wght@100..900&family=Lavishly+Yours&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sixtyfour&family=Sora:wght@100..800&family=Stack+Sans+Headline:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  line-height: 1.5;
  font-family: "Stack Sans Headline", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-100:#d9ff00;
  --primary-200:#52ff00;
  --primary-300:#cdb500;
  --primary-400:#e70000;
  --primary-500:#790000;
  --secondary-100:#001d3d;
  --secondary-200:#333533;
  --secondary-300:#202020;
  --black:#001514;
  --white:#fbfffe;

  --button-height:50px;
  --button-width:150px;
  --length-50p:50%;
  --length-100p:100%;
  --length-90p:90%;
  --length-500:500px;
  --length-400:400px;
  --length-200:200px;
  --length-100:100px;
  --length-150:150px;
  --length-50:50px;

  --fs-small:1em;
  --fs-medium:1.5em;
  --fs-large:2em;
  --fs-xlarge:5em;

  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* outline: 2px solid black;
  border: 2px solid blue; */
}

body {
  min-height: 100vh;
  padding-bottom: var(--length-100);
  background: linear-gradient(var(--primary-100), var(--primary-200));
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  background-color: var(--primary-500);
  top: 0;
  z-index: 2;
  position: sticky;
}

#navBox {
  height: 70px;
  width: var(--length-50p);
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  & img {
    height: 50px;
    width: 50px;
  }

}

#headingText {
  font-size: var(--fs-large);
  color: var(--primary-200);
}

main {
  width: var(--length-50p);
  gap: 20px;
}

#titleContent {
  height: var(--length-500);
  width: var(--length-90p);
}

#titleText {
  font-size: var(--fs-xlarge);
  font-weight: 700;
  margin: 20px;
}

#descriptionText {
  font-size: var(--fs-medium);
}

#searchBox {
  height: var(--length-200);
  width: var(--length-90p);
}

#searchcontainer {
  height: var(--length-50);
  width: var(--length-100p);
  border-radius: 25px;
  background-color: var(--primary-300);
  flex-direction: row;
  padding-left: 5px;
  box-shadow: 5px 5px 10px var(--primary-400);
  gap: 5px;
  > img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--secondary-100);
    box-shadow: 2px 2px 5px var(--primary-500);
  }
}

#searchBar {
  border: none;
  background: none;
  flex: 1;
  height: 100%;
  font-size: var(--fs-medium);
  padding: 5px;
  color: var(--black);
  transition: all 0.9s ease-in;
  &:focus {
    outline: none;
    box-shadow: 2px 2px 10px var(--primary-100) inset;
  }
}


#searchText {
  height: var(--length-50);
  min-width: 10px;
  padding: 10px;
  padding-right: 15px;
  border-radius: 0 25px 25px 0;
  background-color: var(--secondary-100);
  color: var(--white);
  font-size:var(--fs-medium);
  font-weight: 400;
}

#searchResultBox {
  min-height: var(--length-500);
  width: max(80%, var(--length-500));
  background: linear-gradient(var(--white), var(--primary-100));
  padding: 10px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px var(--primary-300);
}

#resultContainer {
  border-radius: 20px;
  height: 400px;
  width: 100%;
  position: relative;
  box-shadow: 2px 2px 5px var(--primary-500);
  > img {
    border-radius: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
    
    opacity: 0.8;
    filter: blur(1px);
  }
}

#resultDetailBox {
  padding: 30px 20px 10px 20px;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.082), var(--black));
  color: var(--white);
  border-radius: 0 0 20px 20px ;
  gap: 20px;
   > img {
    border-radius: 20px;
    height: 100px;
    width: 100px;
    object-fit: cover;
    box-shadow: 2px 2px 10px #474747;
  }
}

#redultMovieDetail {
  flex: 1;
}

#movieTitle {
  font-size: var(--fs-medium);
  font-weight: 400;
  text-align: left;
  border-bottom: 1px solid var(--white);
}

#ratingBox{
  justify-content: start;
  flex-direction: row;
  gap: 20px;
  & img {
    height: 20px;
    width: 20px;
    object-fit: contain;
  }
} 

#movieDescBox {
  margin-top: 20px;
  width: 100%;

  align-items: start  ;
  gap: 20px;

  > button {
    width: var(--button-width);
    height: var(--button-height);
    border-radius: calc(var(--button-height) * 0.5);
    color: var(--white);
    background-color: var(--primary-400);
    border: none;
    font-size: var(--fs-medium);
    box-shadow: 2px 2px 5px var(--primary-500);
  }
}

#movieDesc {
  font-size: var(--fs-small);
  text-align: left;
  padding: 5px;
  opacity: 0.8;
  border-radius: 20px;
  /* background: var(--primary-200); */
  background: linear-gradient(var(--primary-100),var(--primary-200));
  mask-image: linear-gradient( transparent, var(--primary-100) 10%, var(--primary-100) 90%, transparent);
  padding: 20px;
  box-shadow: 5px 5px 10px var(--primary-500);

  max-height: 200px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; 
  &::-webkit-scrollbar {
      display: none;
  }
}


#recommendations {   
  width: max(80%, var(--length-500));
  /* background: linear-gradient(to top, var(--primary-200), var(--primary-300)); */
  background: linear-gradient(to top,var(--white), #ffffffbe);
  padding: 20px 10px;
  border-radius: 20px;
  color: var(--black);
  box-shadow: 5px 5px 10px var(--primary-300);
  > h2 {
    font-family: var(--fs-large);
    padding-left: 10px;
    width: 100%;
    text-align: start;
    /* border-radius: 15px; */
    border-bottom: 2px solid var(--primary-500);
  }
}

#relatedMoviesContainer {
  width: 100%;
  margin: 20px;
  flex-direction: row;
  justify-content: flex-start;
  /* mask-image: linear-gradient(90deg, transparent, white 10%, white 90%, transparent); */
  mask-image: linear-gradient(90deg,  white 90%, transparent);
  /* flex-wrap: wrap; */
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; 
  &::-webkit-scrollbar {
      display: none;
  }
} 

.recommendContainer {
  margin: 5px;
  background: linear-gradient(var(--white), var(--primary-100));
  border-radius: 20px;
  height: 300px;
  width: 200px;
  position: relative;
  & img {
    border-radius: 10px;
    height: inherit;
    width: inherit;
    object-fit: cover;
  }
}
.recommendText {
  padding: 30px 20px 10px 20px;
  position: absolute;
  bottom: 0;
  width: inherit;
  background: linear-gradient(rgba(0, 0, 0, 0.171), var(--black));
  color: var(--white);
  border-radius: 0 0 20px 20px ;
}
.recommendMovieTitle  {
  font-size: var(--fs-small);
  font-weight: 400;
  text-align: left;
  border-bottom: 1px solid var(--white);
}

.recommendMovieDesc  {
  font-size: 1em;
  text-align: left;
  padding: 5px;
  opacity: 0.8;
}

#footerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  
  height: 70px;
  width: 100%;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: var(--primary-400);
  > img {
    height: 40px;
    width: 40px;
    object-fit: cover;
  }
}

@media (max-width: 500px) {
  :root {
      --length-50p:100%;
      --length-90p:90%;
      --length-500:400px;
      --length-200:150px;
      --length-150:100px;
      --length-100:80px;
      --length-50:50px;
  
      --fs-small:1em;
      --fs-medium:1.2em;
      /* --fs-large:1.5em; */
      --fs-xlarge:3em;
  }
  
  /* #recommendations {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    &::-webkit-scrollbar {
        display: none;
    }
  }  */

}