:root {
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-100:#52ff00;
  --primary-200:#d9ff00;
  --primary-300:#cdb500;
  --primary-200:#e70000;
  --primary-300:#790000;
  --secondary-100:#001d3d;
  --secondary-200:#333533;
  --secondary-200:#202020;
  --black:#001514;
  --white:#fbfffe;

  --button-height:50px;
  --button-width:150px;
  --length-small-100:100px;
  --length-medium-200:200px;
  --length-large-500: 500px;
  --length-full:100%;
  --length-half:50%;
  --length-90:90%;
}
