@import url('https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&family=Doto:wght@100..900&family=Lavishly+Yours&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sixtyfour&family=Sora:wght@100..800&family=Stack+Sans+Headline:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  line-height: 1.5;
  font-family: "Stack Sans Headline", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-100:#d9ff00;
  --primary-200:#52ff00;
  --primary-300:#cdb500;
  --primary-400:#e70000;
  --primary-500:#790000;
  --secondary-100:#001d3d;
  --secondary-200:#333533;
  --secondary-300:#202020;
  --black:#001514;
  --white:#fbfffe;

  --button-height:50px;
  --button-width:150px;
  --length-50p:50%;
  --length-100p:100%;
  --length-90p:90%;
  --length-500:500px;
  --length-200:200px;
  --length-100:100px;
  --length-150:150px;
  --length-50:50px;

  --fs-small:1em;
  --fs-medium:1.5em;
  --fs-large:2em;
  --fs-xlarge:5em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* outline: 2px solid black;
  border: 2px solid blue; */
}

body {
  min-height: 100vh;
  background: linear-gradient(var(--primary-100), var(--primary-200));
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  background-color: var(--primary-500);

}

#navBox {
  height: 70px;
  width: var(--length-50p);
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  & img {
    height: 50px;
    width: 50px;
  }

}

main {
  width: var(--length-50p);
}

#titleContent {
  height: var(--length-500);
  width: var(--length-90p);
}

#titleText {
  font-size: var(--fs-xlarge);
  font-weight: 700;
  margin: 20px;
}

#descriptionText {
  font-size: var(--fs-medium);
}

#searchBox {
  height: var(--length-200);
  width: var(--length-90p);
}

#searchcontainer {
  height: var(--length-50);
  width: var(--length-100p);
  border-radius: 25px;
  background-color: var(--primary-300);
  flex-direction: row;
  padding-left: 5px;
  & img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--primary-400);
    box-shadow: 2px 2px 5px var(--primary-500);
  }
}

#searchBar {
  border: none;
  background: none;
  flex: 1;
}

#searchText {
  height: var(--length-50);
  width: 100px;
  border-radius: 0 25px 25px 0;
  background-color: var(--secondary-100);
}

