@import url('https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&family=Lavishly+Yours&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid blue; */
    user-select: none;
}

:root {
    --primary-100:#ffd100;
    --primary-200:#ffee32;
    --accent-100:#d6d6d6;
    --secondary-100:#333533;
    --secondary-200:#202020;
    --black:#0c0f0a;
    --white:#f7f7ff;

    --length-70:70px;
    --length-40:40px;
    --length-100:100px;
    /* --length-50p:50%;
    --length-100p:100%;
    --length-90p:90%;
    --length-500:500px;
    --length-200:200px;
    --length-100:100px;
    --length-150:150px;
    --length-50:50px;

    --fs-small:1em;
    --fs-medium:1.5em;
    --fs-large:2em;
    --fs-xlarge:5em; */

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    /* background: var(--black); */
}

main {
    background: var(--primary-100);
    border-radius: 50px;
    box-shadow: 2px 2px 10px  var(--black);
                /* -5px -5px 10px 0 var(--black) inset; */
}

#output {
    height: 200px;
    background: var(--secondary-200);
    border-radius: 50px 50px 30px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 5px 10px 0 var(--black);
    padding-left: 20px ;
}
#result,
#result-para {
    width: 100%;
    background: transparent;
    border: none;
    padding: 5px 20px;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    justify-content: end;
    align-items: center;
    /* direction: ltr; */
    text-align: left;
}

#result {
    height: var(--length-100);
    border: none;
    color: var(--white);
    padding: 5px 20px;
    font-size: 3em;
}

#result-para {
    height: var(--length-40);
    color: var(--accent-100);
    font-size: 1.2em;
}

#button-box {
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 10px;

    padding: 20px;
}

.keys {
    height: var(--length-70);
    width: var(--length-70);
    background: var(--secondary-200);
    border-radius: 50%;
    color: var(--white);
    font-size: 1.5em;
    transition: all 0.7s linear;
    &:active {
        background: var(--secondary-100);
        transform: translate(5px, 5px);
    }

    cursor:pointer;
    box-shadow: 5px 5px 5px 0 var(--black),
                -1px -1px 2px 0 var(--white);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.equalTo {
    color: #0c0f0a;
    background: var(--accent-100);
    box-shadow: 5px 5px 5px 0 pink,
                -1px -1px 2px 0 var(--white);
    &:active {
        background: var(--white);
    }
}

.operand {
    background: var(--secondary-100);
    box-shadow: 5px 5px 5px 0 var(--black),
                -1px -1px 2px 0 var(--white);
    &:active {
        background: #3335339e;
    }
}

.allClear {
    background: rgb(209, 136, 0);
    box-shadow: 5px 5px 5px 0 rgba(133, 0, 0, 0.796),
                -1px -1px 2px 0 var(--white);
    &:active {
        background: rgba(209, 136, 0, 0.781);
    }
}

.clear {
    background: rgb(0, 135, 0);
    box-shadow: 5px 5px 5px 0 rgba(37, 60, 0, 0.796),
                -1px -1px 2px 0 var(--white);
    &:active {
        background: rgba(0, 135, 0, 0.736);
    }
}

/* @media (max-width:500px) {
    :root {
        --length-70:100px;
        --length-40:60px;
        --length-100:150px;
    }
} */

