
@import url('https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&family=Lavishly+Yours&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid blue; */
}

:root {
    --primary-100:#ffd100;
    --primary-200:#ffee32;
    --accent-100:#d6d6d6;
    --secondary-100:#333533;
    --secondary-200:#202020;
    --black:#0c0f0a;
    --white:#f7f7ff;

    --length-50p:50%;
    --length-100p:100%;
    --length-90p:90%;
    --length-500:500px;
    --length-200:200px;
    --length-100:100px;
    --length-150:150px;
    --length-50:50px;

    --fs-small:1em;
    --fs-medium:1.5em;
    --fs-large:2em;
    --fs-xlarge:5em;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--length-50);
    width: 100%;
    background-color: var(--black);
    color: var(--accent-100);
}

h2 {
    font-size: var(--fs-large);
    font-weight: 900;
    padding: 0 30px;
}

ul {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}


a {
    font-size: var(--fs-medium);
    color: var(--accent-100);
    text-decoration: none;
}

main {
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;  
    padding: 50px 0;  
    background: linear-gradient(to bottom, var(--primary-100), var(--primary-200));
}

#title-text {
    font-size: var(--fs-xlarge);
    font-family: "Lavishly Yours", cursive;
    font-weight: 500;
    font-style: normal;
}

section {
    width: var(--length-50p);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px 0;

    /* outline: 2px solid blue; */
}

.section-title {
    align-self: flex-start;
    font-family: "Ubuntu", sans-serif;
    font-size: var(--fs-large);
    font-weight: 400;
    width: 100%;
    border-bottom: 1px solid var(--black);
    margin-bottom: 10px;
}

.project-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.project {
    min-height: var(--length-150);
    width: min(var(--length-100p), 600px);
    background: linear-gradient(45deg,var(--secondary-100),var(--secondary-200));
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px var(--black),
    2px 2px 5px var(--secondary-200) inset;
}

.project-img-box{
    height: var(--length-100);
    width: var(--length-100);
    background: var(--black);
    margin-left:20px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px var(--black),
    1px 1px 2px var(--secondary-200) inset;
    padding: 10px;
}

.project-img {
    height:calc(var(--length-100) - 20px);
    width: calc(var(--length-100) - 20px);
    /* object-fit: cover; */
}

.project-text-box {
    flex: 1;
    padding: 5px;
}

.project-name {
    font-size: var(--fs-medium);
    font-weight: 500;
    text-decoration: none;
    color: var(--white);
}

.project-description {
    font-size: calc(0.5em + 10px);
    line-height: 1;
    margin-top: 5px;
    color: #A9BEBF;
    background: #20202044;
    border: 1px solid var(--secondary-100);
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 1px 1px 10px var(--accent-100); */
}


@media (max-width: 500px) {
    :root {
        --length-50p:100%;
        --length-90p:90%;
        --length-500:400px;
        --length-200:150px;
        --length-150:100px;
        --length-100:80px;
        --length-50:50px;
    
        --fs-small:1em;
        --fs-medium:1.2em;
        /* --fs-large:1.5em; */
        --fs-xlarge:3em;
    }

    /* temporary ban */
    #navbar-ul {
        display: none;
    }
}